## ユーザー設定
xcuserdata/

## ビルド関連
DerivedData/
build/

## Objective-C/Swift固有のファイル
*.hmap

## パッケージング
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# macOSシステムファイル
.DS_Store
.AppleDouble
.LSOverride

# 環境変数とシークレット
*.env
*.pem
*.p12
*.cer
*.mobileprovision

# CI/CD output directory
ci-outputs/

# cursor
.cursor/

# xcodegen
Info.plist
*/Info.plist
*.xcodeproj
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad/
*.xcuserdata/